In [ ]:
import pandas as pd

emissoes = pd.read_excel(
    r"C:\Users\danil\OneDrive\Área de Trabalho\Curso-AluraONE-DS\ETL_DS\pandas-i-o-formatos\leituraDeArquivos\dados\emissoes_CO2.xlsx",
    engine="openpyxl",
)

emissoes.head()

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Oléo,Gás,Cimento,Queima,Outro,Per Capita
0,Afeganistão,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afeganistão,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afeganistão,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afeganistão,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afeganistão,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
pd.ExcelFile(
    r"C:\Users\danil\OneDrive\Área de Trabalho\Curso-AluraONE-DS\ETL_DS\pandas-i-o-formatos\leituraDeArquivos\dados\emissoes_CO2.xlsx"
).sheet_names  # Mostra as planilhas do arquivo

['emissoes_C02', 'emissoes_percapita', 'fontes']